<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Orbit library"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".activity_splash"
            android:exported="false" />
        <activity
            android:name=".UserCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".UserBooks"
            android:exported="false" />
        <activity android:name=".BookActivity" />
        <activity
            android:name=".DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".AddBook"
            android:exported="false" />
        <activity
            android:name=".AddCategory2"
            android:exported="false" />
        <activity
            android:name=".Category"
            android:exported="false" />
        <activity
            android:name=".MyspaceAdminActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".AccountActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>